@font-face {
    font-family: proxima-nova-extra-bold;
    src: url(./../FontsFree-Net-Proxima-Nova-Xbold.otf);
}

@font-face {
    font-family: proxima-nova-thin;
    src: url(./../FontsFree-Net-Proxima-Nova-Thin.otf);
    
}

@font-face {
    font-family: proxima-nova-rg-regular;
    src: url(./../FontsFree-Net-proxima_nova_reg-webfont.ttf);
    
}



.hero-container{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* align-items: center; */
    margin-left: 4rem;
    font-family: proxima-nova-extra-bold;
    /* font-family: promixa-nova-thin; */
    /* font-family: "proxima-nova", sans-serif; */
    margin-left: 110px;
    margin-top: 30px;
    /* color: black; */
    margin-bottom: 400px;
    color: #363636;
    /* font-weight: 200; */
}

.hero-text{
    font-size: 61px;
    width: 60vw;
    text-align: center;
    margin-bottom: 5vh;
    margin-top:9vh;
    letter-spacing: .03em;
    
    
}

.hero-container p {
    margin-top: .7rem;
    font-size: 20px;
    width: 60vw;
    text-align: left;
    font-weight: 800;
    width: 420px;
    line-height: 1.1em;
    color: #363636;    
    font-family: proxima-nova-thin;
    
}

.hero-btns-container{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
}

.five-things-btn{
    border: 1px solid black;
    /* padding: .5em 1rem .5rem 1rem; */
    border-radius: .5rem;
    color: black;
    background-color: #FFFFFF;
    font-size: 11px;
    height: 34px;
    display: flex;
    align-items: center;
    width: 240px;
    justify-content: center;
    font-weight: 100;
    height: 42px;
}

.get-started-button-hero{
    border: 2px solid black;
    border-radius: .5rem;
    color: white;
    background-color: #333333;
    font-size: 12px;
    height: 31px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 177px;
    height: 40px;
    font-weight: 100;
    /* font-weight: 800; */
    /* font-family: proxima-nova-thin; */
    letter-spacing: .02em;
}

.logo-container {
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
    
}

.logo-img{
    width: 100px;
    
}
