.read-more {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.read-more-h1 {
    font-size: 44px;
    font-family: proxima-nova-extra-bold;
    margin-bottom: 2rem
    
}

.read-more-container{
    display: flex;
}


.read-more-image {
    flex: 50%;
}

.read-more-image img {
    /* flex-basis: 50%; */
    width: 100%;
    /* width: 50vw; */
    /* max-width: 400px; */
}

.read-more-text-container {
    flex:50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.read-more-profile-container {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.read-more-profile{
    width: 50px;
    border-radius: 50%;
    display: flex;

}


.read-more-header {
    font-size: 27px;
    font-family: proxima-nova-extra-bold;
}

.read-more-body {
    font-size: 20px;
    font-family: proxima-nova-thin;
}

.read-more-link{
    color: green;
    font-family: proxima-nova-extra-bold;
}

@media only screen and (max-width: 720px) {
    .read-more-container {
            display: flex;
            flex-direction: column;
        }
    
}