.testimonial-container {
    display: flex;
    flex-direction: column;
    align-items: last;
    padding: 8vw;
}

.testimonial-header {
    font-size: 44px;
    font-family: proxima-nova-extra-bold;
    margin-bottom: 2rem;
}

.testimonial-subheader{
    font-family: proxima-nova-thin;
    max-width: 80%;
    margin-bottom: 2rem;
}

.testimonial-block-container {
    display: flex;
    gap: 1rem;
}

.testimonial-block-column-1 {
    flex-basis: 1;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.testimonial-block-column-2 {
    flex-basis: 1;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.testimonial-block {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* background-color: red; */
    border-radius: 1rem;
    padding: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    justify-content: center;
    height: 100%;
}


.testimonial-brand-logo {
    max-width: 100px;
}

.testimonial-profile-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.testimonial-profile-text-container {
    display: flex;
    flex-direction: column;
    font-family: proxima-nova-thin;
    gap: 5px;
}

.testimonial-profile-img { 
    max-width: 40px;
    border-radius: 50%;
}

.testimonial-name {
    font-size: 15px;
    font-weight: 100;
    font-family: proxima-nova-extra-bold;
    
}

.testimonial-quote {
    font-family: proxima-nova-thin;
    font-size: 16px;
}

.testimonial-affiliation {
    font-family: proxima-nova-thin;
}